@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Yanone+Kaffeesatz:300,700');

body {
  color: #222;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

#mobilenav {
  display: none;
}

nav {
  overflow: hidden;
  box-shadow: 0px 0px 10px #222;
  z-index: 100;
  position: sticky;
  top:0;
  width: 100%;
  height: 7vh;
  background: url("2.jpg");
  background-size; 100%;
  padding: 0px 10%;
  box-sizing: border-box;
}

nav table {
  height: 100%;
  width: 100%;
}

nav table p {
  margin: auto;
}

nav a {
  transition: 0.5s;
  text-decoration: none;
  padding: 0px 5px;
  color: #fff;
  background: #222;
}

nav a:hover {
  padding: 5px;
}

nav a:not(#title) {
  margin-left: 15px;
}

nav p #right {
  float: right;
}

header {
  user-select: none;
  height: 93vh;
  background: #222;
  color: #fff;
  box-sizing: border-box;
}

header table {
  position: relative;
  background: url(1.jpg);
  background-size: 400px;
  position: center;
  -webkit-background-clip: text;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: transparent;
  height: 100%;
  width: 100%;
}

header table td {
  text-align: center;
}

header h1{
  font-size: 50px;
  letter-spacing: 10px;
  text-indent: 10px;
  margin: auto;
} 

header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing:20px;
  text-indent:20px;
  margin: auto;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: auto;
  letter-spacing: 0px;
  text-indent: 0px;
}

article {
  padding-bottom: 0;
  padding: 20px 10%;
  background: url("1.jpg");
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
}

article div:not(#last) {
  margin-bottom: 25px;
  padding: 20px 5%;
  background: rgba(255,255,255,0.80);
}

article #last {
  padding: 20px 5%;
  background: rgba(255,255,255,0.80);
}

article h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 50px;
  margin: auto;
}

article p {
  margin-bottom: auto;
}

article a {
  color: #222;
}

footer {
  text-align: center;
  background: #222;
  padding: 5px 10%;
  color: #fff;
}

footer a {
  color: #fff;
}